<!DOCTYPE html>
<html>
<title>Art GAN-erator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-container">
  <h2></h2>
  
  <div class="w3-card-4">
    <div class="w3-container w3-green">
      <h2>Input text</h2>
    </div>

    <form action="/output" class="w3-container">
      <p>
      <input class="w3-input" type="text" name="input" value="a little red bird">
      <label></label></p>
      <p>     
    </form>
  </div>
</div>

</body>
</html>
